#service {
  background-color: #f8f9fa;
}
.box {
  padding-left: 90px;
  padding-top: 0;
  position: relative;
}

.box-icon {
  width: 70px;
  height: 70px;
  display: flex;
  background: white;
  top: 0;
  left: 0;
  margin-bottom: 0;
  font-size: 30px;
  justify-content: center !important;
  align-items: center;
  position: absolute;
}

#icon {
  font-weight: 900;
  color: var(--primary-color);
}

.box h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.box p {
  line-height: 1.8;
}
